<!-- header -->
<%- include('partials/_header') %>

<!-- navigation -->
<%- include('partials/_navigation') %>

<!-- end header -->
<div class="back_re">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          <h2></h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 404 -->
<div class="about">
  <div class="container">
    <div class="row d_flex">
      <div class="col-md-5">
        <div class="titlepage">
          <h2>401 Unauthorized</h2>
          <a class="read_more" href="/">Go To Home Page</a>
        </div>
      </div>
      <div class="col-md-7">
        <div class="about_img">
          <figure><img src="/images/404.jpg" alt="#" /></figure>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end 404 -->
<!--  footer -->
<%- include('partials/_footer') %>